.Recalculate_White {
    background-color: rgba(255, 255, 255, 0.19);
    display: flex;
}

.Recalculate_White #Point {
    background-color: rgb(255, 110, 110);
}

.Recalculate_White #Icon {
    display: none;
}

.Recalculate_White #Recalculate-Button {
    display: flex;
}
